<div class="growth-app">
  <h2>各バトルパートへ！！</h2>
  <h4>評価ページへ</h4>
  <%= link_to 'バトルパート一覧', best16s_index_path, class: "subtitle" %>

  <h2>バトル結果一覧</h2>
  <%= link_to 'ベスト16', best16s_show_path, class:"battle-scores"%>
  <%= link_to 'ベスト８', best8s_show_path, class: "battle-scores" %>
  <%= link_to 'ベスト４', best4s_show_path, class: "battle-scores" %>
  <%= link_to 'ベスト８', best8s_show_path, class: "battle-scores" %>


  <%= link_to 'ログアウト',   destroy_user_session_path, method: :delete %>
</div>
