<div class="wrapper">
  <div class="result-holder">
    <% if user_signed_in? %>
      <h1 class="result-title">Best16 結果一覧</h1>
      <%= link_to '戻る',  root_path, class: "button button-back"%>
    <% end %>
    <p> ※注意<br>勝敗とは関係ないので、<br>個々のレベルアップにお役立てください。</p><br>
    <% @best16s.each do |best16| %>
      <p class='judge-name'><span>ジャッジ</span><br><%= best16.user.dancer_name %><br>
      <div class='battle-score'>
        <div class="battle-score-name">
          <p><%= best16.battler.name %></p>
        </div>
        <p>基礎=<%= best16.foundation %>点</p>
        <p>正確性＝<%= best16.accuracy %>点</p>
        <p>独創性＝<%= best16.originality %>点</p>
        <p>ダイナミック＝<%= best16.dynamic %>点</p>
        <p>戦略＝<%= best16.strategy %>点</p>
        <p>合計=<%= best16.score %></p>
      </div>
    <% end %>
  </div>
</div>

